html {
	display: flex;
    height: 100%;
    width: 100%;
}
body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
body, h1, div, span {
  font-family: "Poppins", sans-serif !important;
}
a {
	 font-family: "Inter", sans-serif !important;
}
.wrapper {
	padding: 0 40px;
}
header img {
	margin-top: 24px;
}
.mobile-img-container {
	display: none;
}
.container {
	margin-top: 115px;
}
.hero-container {
    display: flex;
    background-image: linear-gradient(to left, rgba(255,255,255,0) 62%, white 75%), url(../images/wave.svg);
    background-repeat: no-repeat;
    background-position-x: -46px;
    background-position-y: 84px;
}
.links {
    margin-top: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link a {
	color: #152733;
    border-bottom: 1px solid #152733;
    text-decoration: none;
    padding-bottom: 2px;
}
.link span:first-child {
	padding-right: 16px;
}
.pipe {
	width: 1px;
    height: 5px;
    border-right: 1px solid #CFD4DA;
    margin-left: 8px;
    margin-right: 8px;
}
.hero-container h1 {
	margin-bottom: 48px;
	font-size: 64px;
	line-height: 68px;
	font-weight:600;	
}
.hero-container h1 span {
	font-weight: 400;
}
.hero-left {
	display: flex;
    flex-direction: column;
    width: 715px;
}
.hero-buttons {
    display: flex;
}
.hero-right {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -102px;
}
.hero-right img{
	width: 453px;
	height: 453px;
	margin-top: -50px;    
}
.button-links {
	 font-weight:600;	 
	font-size: 16px;
    padding: 16px 32px;
    background: #DB3B0A;
    border-radius: 64px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}
.login-button {
	margin-right: 24px;
	color: #152733;
	border: 2px solid #152733;
	background-color: transparent;
}
.circle {
	 height: 25px;
  	width: 25px;
  	background-color: #152733;
  	border-radius: 50%;
  	display: inline-block;
}
.semi-circle-midnight {
    width: 64px;
    height: 32px;
    background-color: #152733;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    display: inline-block;
  	position: absolute;
    left: 43%;
}

.semi-circle-orange {
	width: 32px;
    height: 16px;
    background-color: #F1592A;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    display: inline-block;
    margin-left: 804px;
    position: absolute;
    right: 40%;
    bottom: 0;
}
.circle-buttermilk {
	width: 24px;
	height: 24px;
	background-color: #FFE5BF;
  	border-radius: 50%;
  	display: inline-block;
}
.circle-blue {
	width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #178AF7;
    margin-top: -36px;
}
.circles {
	display: flex;
    flex-direction: column-reverse;
    transform: rotate(45deg);
}
.circle-creamsicle {
	width: 48px;
	height: 48px;
	background-color: #FABE8A;
  	border-radius: 50%;
  	display: inline-block;
}
.circle-creamsicle-outline {
	width: 48px;
	height: 48px;
	background-color: transparent;
  	border-radius: 50%;
  	display: inline-block;
  	border: 1px solid #FABE8A;
  	margin-top: -19px;
}

@media screen and (min-device-width: 733px) and (max-width: 965px) {
	.hero-container {
		background-image: linear-gradient(to left, rgba(255,255,255,0) 1%, white 67%), url(../images/wave.svg);
	    background-position-x: -173px;
    	background-position-y: 48px;
	}
	.hero-right img {
		width: 348px;
		height: 348px;
		margin-top: 0;
	}
}

@media screen and (min-device-width: 1011px) and (max-width: 1132px) {
	.hero-container {
		background-image: linear-gradient(to left, rgba(255,255,255,0) 62%, white 75%), url(../images/wave.svg);
	    background-position-x: -173px;
    	background-position-y: 132px;
	}
}
@media screen and (max-width: 963px) {
	.hero-buttons {
	    display: flex;
	    flex-direction: column;
	}
}

@media screen and (max-width: 862px) {
	.hero-container h1 {
		font-size: 48px;
		line-height: 53px;
	}	
	.button-links {
		width: 220px;
    	text-align: center;
	}
	.login-button {
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 700px) {
	.wrapper {
		padding: 0 16px;
	}
	.hero-container {
		background: none;
	}
	.hero-buttons {
		align-items: center;
	}
	.login-button {
		margin-right: 0;
	}
	.mobile-img-container {
		display: block;
		background-image: linear-gradient(to left, rgba(255,255,255,0) 62%, white 75%), url(../images/wave.svg);
	    background-repeat: no-repeat;
	    margin-top: 55px;
	    margin-bottom: 45px;
	    background-position-x: -853px;
	    background-position-y: 9px;
	    height: 371px;
	    background-size: cover;
	    text-align: center;
	}
	.mobile-hero-img {
		width: 288px;		
	}
	.hero-right {
		display: none;
	}
	.login-button {
    	margin-bottom: 24px;
	}
	.links {
		margin-top: 0;
	}
	.hero-container h1 {
		font-size: 36px;
		line-height: 40px
	}
}
 
